* {
  /*初始化*/
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("img/image\ copy.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background-color: #fff;
  width: 800px; /* 增大宽度 */
  height: 500px; /* 增大高度 */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 50px; /* 增加容器与页面边缘的距离 */
  border-radius: 5px;
}

.from-box {
  position: absolute;
  top: -5%;
  left: 0;
  background-color: #d3b7d8;
  width: 400px; /* 增大宽度 */
  height: 110%; /* 调整高度为100% */
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  /*弹性布局*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /*动画过度*/
  transition: 0.5s ease-in-out;
}

.register-box,
.login-box,
.forget-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  font-size: 12px; /* 增大字体大小 */
  color: #f6f6f6;
  height: 12px;
  margin-top: 15px; /* 调整位置，增加距离 */
  margin-bottom: 10px;
}

a:hover {
  color: #a262ad;
}

.hidden {
  display: none;
  transition: 0.5s;
}

h1 {
  text-align: center;
  margin-bottom: 30px; /* 调整位置 */
  margin-top: 40px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  font-size: 24px; /* 增大字体大小 */
}

input {
  background-color: transparent;
  width: 70%;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 12px 0; /* 调整位置 */
  text-indent: 10px;
  margin: 10px 0; /* 调整位置 */
  font-size: 16px; /* 增大字体大小 */
  letter-spacing: 2px;
}

input::placeholder {
  color: #fff;
}

input:focus {
  color: #a262ad;
  outline: none;
  border-bottom: 1px solid #a262ad80;
  transition: 0.5s;
}

input:focus::placeholder {
  opacity: 0;
}

.from-box button {
  width: 70%;
  margin-top: 20px; /* 调整位置 */
  background-color: #f6f6f6;
  outline: none;
  border-radius: 8px;
  padding: 15px; /* 调整位置 */
  color: #a262ad;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.register-box button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.from-box button:hover {
  background-color: #a262ad;
  color: #f6f6f6;
  transition: background-color 0.5s ease;
}

/* 验证码容器样式 */
.verification-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 两边对齐 */
  width: 70%; /* 调整宽度 */
  margin-bottom: 5px; /* 往上移动 */
}

/* 发送验证码按钮样式 */
.send-verification-code {
  width: 35%; /* 调整宽度 */
  height: 40px; /* 调整高度 */
  background-color: #f6f6f6;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  color: #a262ad;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  font-size: 12px; /* 缩小字体大小 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.send-verification-code:hover {
  background-color: #a262ad;
  color: #f6f6f6;
  transition: background-color 0.5s ease;
}

/* 输入验证码输入框样式 */
.check-email {
  width: 50%; /* 调整宽度 */
  height: 20px; /* 调整高度 */
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 5px;
  text-indent: 10px;
  margin-left: 10px; /* 调整间距 */
  font-size: 16px; /* 保持字体大小 */
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}

.check-email::placeholder {
  color: #fff;
}

.check-email:focus {
  color: #a262ad;
  outline: none;
  border-bottom: 1px solid #a262ad80;
  transition: 0.5s;
}

.check-email:focus::placeholder {
  opacity: 0;
}

.con-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%; /* 调整位置 */
  transform: translateY(-100%); /* 调整位置 */
  margin-top: 20px; /* 调整位置 */
}

.con-box.left {
  left: 0;
}

.con-box.right {
  right: 0;
}

.con-box h2 {
  color: #9050bb;
  font-size: 30px; /* 增大字体大小 */
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 30px; /* 调整位置 */
}

.con-box p {
  font-size: 14px; /* 增大字体大小 */
  letter-spacing: 1.5px;
  color: #9050bb;
  text-align: center;
  margin-bottom: 20px; /* 调整位置 */
}

.con-box button {
  margin-top: 5%;
  background-color: #fff;
  color: #a262ad;
  border: 1px solid #d3b7d8;
  padding: 8px 12px; /* 调整位置 */
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: -30%;
}

.con-box button:hover {
  background-color: #a262ad;
  color: #f6f6f6;
}

.con-box img {
  width: 180px;
  height: 160px;
  margin: 10px 0;
  opacity: 0.9;
  position: flex;
}

/* 隐私政策复选框样式 */
.privacy-policy {
  display: flex;
  align-items: center;
  justify-content: center; /* 水平居中 */
  margin-top: 0px; /* 减少上下间距 */
  margin-bottom: 0px; /* 减少下方间距 */
}

.privacy-policy input[type="checkbox"] {
  border: 1px solid #a262ad; /* 边框颜色 */
  height: 20px; /* 高度 */
  width: 20px; /* 宽度 */
  background-color: #fff; /* 背景颜色 */
  border-radius: 4px; /* 圆角 */
  position: relative; /* 相对定位 */
  cursor: pointer; /* 鼠标样式 */
  margin-right: 8px; /* 右边距 */
}

.privacy-policy label {
  font-size: 14px; /* 字体大小 */
  color: #f6f6f6; /* 字体颜色 */
}

.privacy-policy label a {
  color: #a262ad; /* 链接颜色 */
  text-decoration: none; /* 去掉下划线 */
  margin-left: 5px; /* 左边距 */
}

.privacy-policy label a:hover {
  text-decoration: underline; /* 鼠标悬停时添加下划线 */
}
